In [1]:
# Data cleaning 

import pandas as pd

Raw_Dataset = pd.read_csv('Raw_Dataset.CSV')  # Getting the data from the raw dataset csv file

Raw_Dataset.head()

,customer_id,customer_name,gender,senior_citizen,partner,dependents,tenure,contract,paperless_billing,payment_method,...,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,churn
0,CUST0001,John doe,male,0,yes,no,64,month to month,Yes,Electronic Check,...,No,no phone service,DSL,NaN,NaN,NaN,NaN,NaN,NaN,yes
1,CUST0002,Lauren Vaughan,female,1,NaN,NaN,25,month to month,YES,NaN,...,No,NaN,NO INTERNET,NaN,Yes,NaN,NaN,NaN,NaN,NaN
2,CUST0003,Mrs. Elizabeth Turner DDS,MALE,1,NaN,No,61,One year,No,Electronic Check,...,NaN,no phone service,NO INTERNET,NaN,NaN,No,NaN,NaN,No,NaN
3,CUST0004,Tiffany Johnson,FEMALE,1,NaN,Yes,49,NaN,YES,NaN,...,No,No,DSL,Yes,No,NaN,NaN,NaN,NaN,Yes
4,CUST0005,Dr. Janice Berg,FEMALE,1,NO,Yes,47,NaN,No,NaN,...,No,NaN,NaN,NaN,NaN,No,Yes,NaN,No,yes

In [2]:
Raw_Dataset.info() # To see the non-null values in the columns of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1500 non-null   object
 1   customer_name      1500 non-null   object
 2   gender             1202 non-null   object
 3   senior_citizen     1500 non-null   int64
 4   partner            1208 non-null   object
 5   dependents         771 non-null    object
 6   tenure             1500 non-null   int64
 7   contract           1188 non-null   object
 8   paperless_billing  1218 non-null   object
 9   payment_method     1191 non-null   object
 10  monthly_charges    1012 non-null   object
 11  total_charges      736 non-null    object
 12  phone_service      1007 non-null   object
 13  multiple_lines     1127 non-null   object
 14  internet_service   1210 non-null   object
 15  online_security    1015 non-null   object
 16  online_backup      1031 non-null   object
 17  device_protection  989 non-null    object
 18  tech_support       988 non-null    object
 19  streaming_tv       762 non-null    object
 20  streaming_movies   770 non-null    object
 21  churn              986 non-null    object
dtypes: int64(2), object(20)
memory usage: 257.9+ KB

In [3]:
# To know about the null-values count for each column
print("The total null values are")
print(Raw_Dataset.isnull().sum())

The total null values are
customer_id            0
customer_name          0
gender               298
senior_citizen         0
partner              292
dependents           729
tenure                 0
contract             312
paperless_billing    282
payment_method       309
monthly_charges      488
total_charges        764
phone_service        493
multiple_lines       373
internet_service     290
online_security      485
online_backup        469
device_protection    511
tech_support         512
streaming_tv         738
streaming_movies     730
churn                514
dtype: int64

In [4]:
# .describe() will give the descriptive measures of the dataset 
Raw_Dataset.describe(include='all')

,customer_id,customer_name,gender,senior_citizen,partner,dependents,tenure,contract,paperless_billing,payment_method,...,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,churn
count,1500,1500,1202,1500.000000,1208,771,1500.000000,1188,1218,1191,...,1007,1127,1210,1015,1031,989,988,762,770,986
unique,1500,1481,5,NaN,5,3,NaN,4,4,4,...,2,3,4,2,2,2,2,2,2,4
top,CUST0001,Mark Adams,female,NaN,YES,Yes,NaN,month to month,YES,Electronic Check,...,No,No,No,Yes,No,No,Yes,Yes,Yes,No
freq,1,2,312,NaN,334,416,NaN,306,322,308,...,507,409,325,520,525,524,513,391,393,284
mean,NaN,NaN,NaN,0.504000,NaN,NaN,36.576000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,0.500151,NaN,NaN,20.891095,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,0.000000,NaN,NaN,19.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,1.000000,NaN,NaN,37.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,1.000000,NaN,NaN,55.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,1.000000,NaN,NaN,72.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Using loop to get the first 10 unique values for each column by .unique()[:10]
for col in Raw_Dataset.columns:
    print(f"{col}: {Raw_Dataset[col].unique()[:10]}")

customer_id: ['CUST0001' 'CUST0002' 'CUST0003' 'CUST0004' 'CUST0005' 'CUST0006'
 'CUST0007' 'CUST0008' 'CUST0009' 'CUST0010']
customer_name: ['John doe' 'Lauren Vaughan' 'Mrs. Elizabeth Turner DDS' 'Tiffany Johnson'
 'Dr. Janice Berg' 'Daniel Russell MD' 'Daniel Bradshaw' 'Willie Walton'
 'Patricia Lopez' 'William Munoz']
gender: ['male' 'female' 'MALE' 'FEMALE' 'Male' nan]
senior_citizen: [0 1]
partner: ['yes' nan 'NO' 'No' 'YES' 'Yes']
dependents: ['no' nan 'No' 'Yes']
tenure: [64 25 61 49 47 58 31  2 66 19]
contract: ['month to month' 'One year' nan 'Month-to-month' 'Two Year']
paperless_billing: ['Yes' 'YES' 'No' nan 'NO']
payment_method: ['Electronic Check' nan 'Bank Transfer' 'Mailed check'
 'Credit card (automatic)']
monthly_charges: [nan 'twenty' '115.37' '62.59' '69.88' '34.66' '84.57' '31.20' '67.42'
 '112.43']
total_charges: [nan '2698.62' '5180.88' '1,000.50' '459.00' '515.69' '8401.12' '4935.08'
 '1619.09' '2997.92']
phone_service: ['No' nan 'Yes']
multiple_lines: ['no phone service' nan 'No' 'Yes']
internet_service: ['DSL' 'NO INTERNET' nan 'Fiber optic' 'No']
online_security: [nan 'Yes' 'No']
online_backup: [nan 'Yes' 'No']
device_protection: [nan 'No' 'Yes']
tech_support: [nan 'Yes' 'No']
streaming_tv: [nan 'No' 'Yes']
streaming_movies: [nan 'No' 'Yes']
churn: ['yes' nan 'Yes' 'No' 'no']

In [6]:
# Creating a list for column names to feed in the function to normalise them 
columns = [
    'gender',
    'partner',
    'dependents',
    'contract',
    'paperless_billing',
    'payment_method',
    'monthly_charges',
    'total_charges',
    'phone_service',
    'multiple_lines',
    'internet_service',
    'online_security',
    'online_backup',
    'device_protection',
    'tech_support',
    'streaming_tv',
    'streaming_movies',
    'churn'
] # columns to change only 
print(columns)

['gender', 'partner', 'dependents', 'contract', 'paperless_billing', 'payment_method', 'monthly_charges', 'total_charges', 'phone_service', 'multiple_lines', 'internet_service', 'online_security', 'online_backup', 'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies', 'churn']

In [7]:
# Creating a function definition for cleaning the column data
def to_normalise_col(raw_data, col_names):
    for col in col_names:
        raw_data[col] = raw_data[col].astype(str).str.strip().str.lower().replace({
        'yes':'yes', 'no':'no', 'none':None, 'nan':None,'':None})
        print(raw_data[col].unique()[:10])
    return raw_data  # You must return df if you're assigning it to Raw_Dataset

Raw_Dataset= to_normalise_col(Raw_Dataset, columns)

['male' 'female' None]
['yes' None 'no']
['no' None 'yes']
['month to month' 'one year' None 'month-to-month' 'two year']
['yes' 'no' None]
['electronic check' None 'bank transfer' 'mailed check'
 'credit card (automatic)']
[None 'twenty' '115.37' '62.59' '69.88' '34.66' '84.57' '31.20' '67.42'
 '112.43']
[None '2698.62' '5180.88' '1,000.50' '459.00' '515.69' '8401.12' '4935.08'
 '1619.09' '2997.92']
['no' None 'yes']
['no phone service' None 'no' 'yes']
['dsl' 'no internet' None 'fiber optic' 'no']
[None 'yes' 'no']
[None 'yes' 'no']
[None 'no' 'yes']
[None 'yes' 'no']
[None 'no' 'yes']
[None 'no' 'yes']
['yes' None 'no']

In [8]:
# Changing the values 
Raw_Dataset['multiple_lines']=Raw_Dataset['multiple_lines'].replace({'no phone service':'no'})

Raw_Dataset['internet_service']=Raw_Dataset['internet_service'].replace({'no internet':'none'})

In [9]:
# Summary of nulls and uniques
print("Nulls:\n", Raw_Dataset.isnull().sum())

for col in columns:
    print(f"{col}: {Raw_Dataset[col].unique()}")

Nulls:
 customer_id            0
customer_name          0
gender               298
senior_citizen         0
partner              292
dependents           729
tenure                 0
contract             312
paperless_billing    282
payment_method       309
monthly_charges      488
total_charges        764
phone_service        493
multiple_lines       373
internet_service     290
online_security      485
online_backup        469
device_protection    511
tech_support         512
streaming_tv         738
streaming_movies     730
churn                514
dtype: int64
gender: ['male' 'female' None]
partner: ['yes' None 'no']
dependents: ['no' None 'yes']
contract: ['month to month' 'one year' None 'month-to-month' 'two year']
paperless_billing: ['yes' 'no' None]
payment_method: ['electronic check' None 'bank transfer' 'mailed check'
 'credit card (automatic)']
monthly_charges: [None 'twenty' '115.37' '62.59' '69.88' '34.66' '84.57' '31.20' '67.42'
 '112.43' '31.90' '100.64' '71.87' '48.71' '44.53' '104.70' '31.68'
 '39.83' '52.64' '112.68' '94.70' '78.95' '44.59' '87.80' '100.96' '63.77'
 '24.49' '18.35' '24.76' '101.17' '107.08' '40.35' '75.68' '26.50' '51.28'
 '82.47' '30.00' '91.94' '69.40' '59.60' '83.39' '38.99' '94.79' '109.19'
 '68.32' '38.23' '70.43' '27.29' '74.68' '115.92' '96.37' '27.24' '39.25'
 '116.84' '68.01' '107.97' '51.66' '107.44' '53.46' '89.51' '62.11'
 '119.62' '44.19' '63.15' '43.39' '43.94' '86.46' '81.07' '61.31' '18.94'
 '66.22' '58.80' '78.33' '108.66' '99.86' '118.85' '96.47' '112.84'
 '65.01' '92.16' '52.93' '117.80' '118.03' '68.94' '71.86' '31.82' '54.87'
 '72.37' '117.49' '69.58' '24.28' '46.24' '21.38' '102.84' '26.02'
 '114.06' '78.51' '28.18' '100.59' '44.73' '43.42' '33.55' '74.58' '22.51'
 '44.47' '115.44' '107.68' '103.72' '89.49' '21.97' '88.28' '114.64'
 '25.28' '38.32' '32.66' '106.85' '40.25' '59.14' '40.27' '112.31' '45.21'
 '101.65' '62.67' '58.54' '62.29' '106.50' '56.40' '84.74' '118.01'
 '69.64' '73.67' '24.03' '109.20' '85.01' '114.43' '117.15' '58.47'
 '90.68' '47.13' '45.23' '95.89' '104.78' '86.05' '24.24' '63.04' '43.93'
 '100.37' '118.93' '46.17' '45.19' '67.27' '23.21' '65.41' '95.78' '64.77'
 '111.39' '81.80' '36.43' '21.15' '107.34' '82.42' '95.40' '110.62'
 '45.76' '85.02' '115.51' '102.91' '30.44' '76.65' '59.53' '60.63' '97.22'
 '112.26' '80.74' '98.38' '64.52' '84.23' '99.27' '56.94' '114.28' '56.64'
 '84.76' '36.04' '32.39' '102.85' '43.06' '18.10' '30.03' '96.73' '40.85'
 '111.83' '109.89' '65.14' '115.62' '60.13' '78.56' '69.16' '18.49'
 '28.33' '29.14' '69.65' '88.51' '109.99' '95.28' '45.46' '51.81' '60.00'
 '87.59' '78.12' '55.96' '69.77' '110.17' '82.49' '20.91' '60.85' '28.79'
 '80.27' '79.33' '94.30' '92.96' '112.29' '88.48' '60.39' '62.75' '35.32'
 '62.91' '104.21' '114.53' '101.76' '104.48' '23.44' '79.08' '68.35'
 '51.45' '82.08' '82.28' '102.06' '106.28' '27.18' '87.24' '21.59'
 '108.37' '91.74' '76.36' '81.78' '55.19' '86.49' '44.52' '28.77' '64.14'
 '19.36' '63.66' '39.87' '68.74' '52.44' '56.72' '24.13' '68.91' '71.45'
 '35.96' '87.67' '18.33' '29.12' '28.42' '21.30' '116.83' '72.77' '64.75'
 '101.14' '100.02' '82.43' '43.95' '70.48' '50.13' '68.07' '118.12'
 '64.46' '106.49' '41.80' '48.49' '89.09' '92.68' '32.60' '59.11' '63.82'
 '24.79' '90.77' '70.98' '33.06' '67.59' '25.89' '92.09' '51.94' '38.53'
 '25.01' '107.30' '62.88' '118.67' '34.62' '23.88' '55.03' '92.08' '42.16'
 '106.79' '38.11' '58.99' '87.78' '99.94' '21.70' '43.65' '70.85' '111.00'
 '68.57' '112.02' '62.57' '104.79' '75.96' '83.94' '108.75' '102.07'
 '41.35' '86.51' '93.29' '116.48' '74.97' '55.28' '83.81' '109.13' '74.39'
 '85.34' '34.58' '68.25' '114.31' '105.55' '67.29' '65.26' '62.48' '34.91'
 '43.50' '52.39' '41.39' '118.47' '106.36' '49.99' '27.01' '85.26'
 '117.94' '40.02' '118.96' '29.42' '109.97' '44.88' '67.01' '75.40'
 '71.42' '24.65' '32.22' '57.62' '62.63' '96.12' '29.43' '41.24' '103.89'
 '116.10' '32.21' '76.90' '86.08' '80.47' '24.14' '64.67' '86.65' '92.79'
 '22.93' '91.13' '20.16' '26.24' '50.54' '34.81' '58.45' '116.37' '38.84'
 '18.11' '76.76' '46.59' '57.63' '42.04' '67.05' '39.31' '48.69' '97.25'
 '28.57' '56.26' '119.87' '61.50' '58.08' '27.71' '55.48' '52.97' '58.29'
 '83.77' '18.99' '64.41' '115.90' '82.00' '66.32' '72.10' '41.31' '61.66'
 '50.43' '82.93' '52.01' '93.48' '70.62' '74.54' '40.19' '42.80' '53.24'
 '36.83' '95.32' '109.21' '37.55' '19.60' '41.03' '23.02' '96.39' '106.43'
 '62.37' '105.39' '92.88' '21.12' '98.21' '104.50' '80.03' '26.99' '87.44'
 '21.52' '53.02' '88.73' '21.80' '77.82' '104.73' '61.17' '83.53' '118.25'
 '118.79' '114.32' '92.28' '48.47' '104.68' '106.92' '89.20' '29.03'
 '22.13' '112.11' '82.16' '19.90' '116.51' '98.72' '19.48' '84.58'
 '109.54' '61.78' '45.49' '41.81' '63.44' '55.13' '42.96' '21.60' '99.83'
 '69.31' '32.68' '26.38' '19.86' '106.13' '103.88' '77.29' '37.85' '50.50'
 '67.53' '62.15' '54.03' '116.25' '36.95' '108.99' '51.43' '84.69'
 '114.19' '44.26' '32.90' '77.05' '75.77' '39.28' '21.98' '37.86' '41.71'
 '83.40' '70.61' '47.97' '57.74']
total_charges: [None '2698.62' '5180.88' '1,000.50' '459.00' '515.69' '8401.12' '4935.08'
 '1619.09' '2997.92' '2531.06' '3232.80' '4057.73' '3856.02' '154.05'
 '1319.69' '2037.04' '1472.23' '614.76' '762.83' '1211.69' '131.74'
 '109.90' '1057.10' '1149.43' '3259.78' '2655.60' '1760.21' '6091.09'
 '2160.93' '281.76' '7051.47' '3959.25' '1696.81' '1116.84' '623.49'
 '171.56' '2491.59' '3835.15' '859.91' '4046.98' '1217.40' '969.84'
 '72.23' '1926.52' '1041.55' '104.55' '1141.18' '866.98' '850.87'
 '3818.67' '1663.08' '448.02' '6003.73' '990.14' '2488.76' '3739.47'
 '1631.33' '4466.89' '1824.19' '1152.06' '6087.23' '1259.02' '1539.28'
 '802.91' '5093.70' '1543.01' '691.28' '3299.25' '2882.33' '1831.77'
 '5916.63' '923.42' '1128.86' '1386.21' '1071.30' '2465.93' '2423.02'
 '2946.75' '4157.22' '1449.86' '2983.04' '153.96' '1158.46' '5613.35'
 '1731.69' '6629.12' '3392.52' '0.00' '2886.75' '449.16' '63.69' '2260.58'
 '4862.42' '3099.04' '378.07' '2601.63' '3707.33' '6358.77' '2147.29'
 '4216.82' '6443.85' '505.42' '2883.14' '1558.71' '5701.34' '681.39'
 '1674.21' '2408.93' '2810.14' '1829.42' '604.37' '795.75' '6159.46'
 '1806.09' '1262.02' '4941.49' '3510.71' '2227.61' '788.08' '850.12'
 '2611.18' '4290.54' '1591.20' '899.04' '853.05' '1277.53' '244.72'
 '6497.86' '1140.78' '1911.81' '2082.95' '3402.74' '1927.04' '1432.23'
 '301.25' '1681.31' '393.67' '1216.07' '1377.78' '5009.37' '1082.02'
 '4455.31' '3107.31' '1997.44' '4212.71' '5436.92' '592.60' '2926.33'
 '1625.20' '2280.54' '432.53' '1471.91' '1347.86' '1758.30' '155.23'
 '1443.82' '912.65' '1711.17' '3872.46' '7313.71' '343.56' '3625.77'
 '4368.36' '1762.85' '6076.75' '6515.06' '1093.30' '3920.61' '3803.78'
 '4970.89' '3258.36' '4585.95' '4748.47' '2569.81' '3548.58' '7929.14'
 '4378.79' '2017.12' '446.54' '562.56' '2534.22' '4765.72' '4799.81'
 '463.07' '4885.88' '6798.05' '259.34' '2691.31' '5996.67' '7673.30'
 '1249.67' '5189.97' '1989.23' '4411.09' '2661.75' '3000.85' '1824.14'
 '302.14' '442.61' '1537.11' '1226.93' '78.59' '6942.91' '3907.64'
 '2306.65' '3664.23' '1125.18' '2044.87' '1135.10' '1243.10' '3436.02'
 '220.51' '4547.03' '275.50' '113.35' '4934.98' '3118.40' '3238.57'
 '1999.60' '6307.18' '1102.21' '3665.09' '2099.82' '1242.66' '4047.74'
 '7123.11' '5943.86' '2723.23' '2617.93' '2308.00' '1239.00' '5860.17'
 '6684.52' '3398.99' '5310.30' '2104.43' '4771.56' '942.63' '3698.18'
 '2557.09' '3509.82' '4728.79' '3214.19' '7190.52' '3437.69' '494.87'
 '1305.09' '3269.97' '1358.33' '1465.04' '796.78' '3077.79' '655.55'
 '578.50' '4444.15' '6259.75' '48.27' '1640.98' '2474.06' '1216.64'
 '580.97' '3259.15' '207.45' '3201.28' '2804.47' '5136.61' '3981.00'
 '5367.74' '4865.37' '6938.79' '61.94' '2780.97' '1241.79' '4113.65'
 '286.19' '1244.45' '4524.38' '4382.20' '1766.65' '2605.68' '1434.86'
 '2660.08' '1004.29' '160.61' '3441.05' '136.42' '568.83' '4390.82'
 '1056.07' '2895.08' '699.26' '2645.13' '1795.31' '3264.08' '2549.13'
 '2863.54' '6354.22' '3055.84' '4804.94' '1192.14' '3792.91' '1741.43'
 '5846.80' '5449.22' '1017.28' '1965.41' '3033.73' '3747.28' '5084.45'
 '2083.55' '4567.66' '704.40' '248.23' '6151.43' '2964.55' '1954.63'
 '5468.33' '58.00' '4019.85' '138.68' '4126.18' '177.89' '5986.45'
 '2792.91' '320.68' '80.78' '1765.39' '6246.48' '3941.22' '3965.53'
 '427.54' '355.26' '1198.34' '2333.61' '5211.27' '1345.56' '1743.88'
 '1815.75' '3596.25' '565.27' '2196.92' '1588.74' '2186.50' '208.18'
 '156.49' '4026.22' '810.15' '4058.86' '2803.35' '3758.06' '2029.13'
 '4474.32' '2090.78' '2961.62' '3095.65' '3154.44' '3663.32' '3747.47'
 '4597.48' '3752.74' '3487.72']
phone_service: ['no' None 'yes']
multiple_lines: ['no' None 'yes']
internet_service: ['dsl' 'none' None 'fiber optic' 'no']
online_security: [None 'yes' 'no']
online_backup: [None 'yes' 'no']
device_protection: [None 'no' 'yes']
tech_support: [None 'yes' 'no']
streaming_tv: [None 'no' 'yes']
streaming_movies: [None 'no' 'yes']
churn: ['yes' None 'no']

In [10]:
# Changing the monthly_charges and total_charges Datatypes

print(Raw_Dataset['monthly_charges'].unique()[:10])

print(Raw_Dataset['total_charges'].unique()[:10])

[None 'twenty' '115.37' '62.59' '69.88' '34.66' '84.57' '31.20' '67.42'
 '112.43']
[None '2698.62' '5180.88' '1,000.50' '459.00' '515.69' '8401.12' '4935.08'
 '1619.09' '2997.92']

In [11]:
# Creating function definition for cleaning the datatypes of numeric columns

def numeric_col_cleaning(raw_data, col_name):
     # Remove commas, strip spaces, and replace blank strings with NaN
    raw_data[col_name] = (raw_data[col_name]
        .astype(str)
        .str.replace(',', '', regex=False)
        .str.strip()
        .replace({
                '': None,
                'none': None,
                'null': None,
                'nan': None,
                'NaN': None,
                'NA': None
        })                
        )
    # Convert to float with errors='coerce' (invalids become NaN)
    raw_data[col_name] = pd.to_numeric(raw_data[col_name], errors='coerce')
    return raw_data

Raw_Dataset = numeric_col_cleaning(Raw_Dataset, 'monthly_charges') # Function Calling with monthly_charges
Raw_Dataset = numeric_col_cleaning(Raw_Dataset, 'total_charges') # Function Calling with total_charges

# Impute with Median for missing values 
Raw_Dataset['monthly_charges'] = Raw_Dataset['monthly_charges'].fillna(Raw_Dataset['monthly_charges'].median())
Raw_Dataset['total_charges'] = Raw_Dataset['total_charges'].fillna(Raw_Dataset['total_charges'].median())

# Summary and checking 
print(Raw_Dataset[['monthly_charges', 'total_charges']].dtypes)
print(Raw_Dataset[['monthly_charges', 'total_charges']].head(10))
print(Raw_Dataset.isnull().sum()[['monthly_charges', 'total_charges']])
print(Raw_Dataset[['monthly_charges', 'total_charges']].describe())

monthly_charges    float64
total_charges      float64
dtype: object
   monthly_charges  total_charges
0            67.59        1000.50
1            67.59        1000.50
2            67.59        1000.50
3           115.37        2698.62
4            67.59        5180.88
5            67.59        1000.50
6            62.59        1000.50
7            67.59        1000.50
8            67.59        1000.50
9            67.59        1000.50
monthly_charges    0
total_charges      0
dtype: int64
       monthly_charges  total_charges
count      1500.000000    1500.000000
mean         67.946033    1391.698240
std          17.506917    1167.105297
min          18.100000       0.000000
25%          67.590000    1000.500000
50%          67.590000    1000.500000
75%          67.590000    1000.500000
max         119.870000    8401.120000

In [12]:
# Creating Cleaned Dataset
Cleaned_Dataset = Raw_Dataset.copy()

print(Cleaned_Dataset)

     customer_id              customer_name  gender  senior_citizen partner  \
0       CUST0001                   John doe    male               0     yes
1       CUST0002             Lauren Vaughan  female               1    None
2       CUST0003  Mrs. Elizabeth Turner DDS    male               1    None
3       CUST0004            Tiffany Johnson  female               1    None
4       CUST0005            Dr. Janice Berg  female               1      no
...          ...                        ...     ...             ...     ...
1495    CUST1496             Daniel Rodgers    male               0    None
1496    CUST1497              Angela Cooper    male               1    None
1497    CUST1498               Richard Yang  female               0      no
1498    CUST1499                Steve Fritz  female               1     yes
1499    CUST1500             Victoria Munoz    male               1      no

     dependents  tenure        contract paperless_billing  \
0            no      64  month to month               yes
1          None      25  month to month               yes
2            no      61        one year                no
3           yes      49            None               yes
4           yes      47            None                no
...         ...     ...             ...               ...
1495        yes      67        one year                no
1496       None       8  month-to-month              None
1497        yes       7        one year                no
1498        yes      34        two year               yes
1499       None      13  month-to-month               yes

               payment_method  ...  phone_service  multiple_lines  \
0            electronic check  ...             no              no
1                        None  ...             no            None
2            electronic check  ...           None              no
3                        None  ...             no              no
4                        None  ...             no            None
...                       ...  ...            ...             ...
1495             mailed check  ...           None            None
1496            bank transfer  ...           None             yes
1497  credit card (automatic)  ...             no              no
1498         electronic check  ...            yes             yes
1499             mailed check  ...             no              no

     internet_service online_security online_backup device_protection  \
0                 dsl            None          None              None
1                none            None           yes              None
2                none            None          None                no
3                 dsl             yes            no              None
4                None            None          None                no
...               ...             ...           ...               ...
1495      fiber optic             yes            no              None
1496      fiber optic            None           yes               yes
1497               no             yes           yes                no
1498               no            None          None              None
1499             none            None          None                no

     tech_support streaming_tv streaming_movies churn
0            None         None             None   yes
1            None         None             None  None
2            None         None               no  None
3            None         None             None   yes
4             yes         None               no   yes
...           ...          ...              ...   ...
1495         None         None              yes    no
1496          yes         None              yes   yes
1497          yes           no               no   yes
1498          yes           no             None    no
1499           no         None             None   yes

[1500 rows x 22 columns]

In [13]:
# Exporting a CSV file for the cleaned dataset
Cleaned_Dataset.to_csv('Cleaned_Dataset.CSV', index=False)